<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_ExternalHelpdeskService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.2.186/EvaticServiceHub/ExternalHelpdesk.svc/WS2007HttpBinding"
                binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_ExternalHelpdeskService"
                contract="external_helpdesk_ev.ExternalHelpdeskService" name="WS2007HttpBinding_ExternalHelpdeskService">
                <identity>
                    <dns value="dev" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>